#general-container{
	display: grid;
	justify-content: center;
  	align-items: center;
}
#jroar-comments-group{
	padding: 0px 50px;
}
#home-rate{
	padding-left: 20px;	
	margin: 20px 0px;
}
#home-rate h4{
	display:inline-block;
	margin: auto;
}
#home-rate #home-rate-dislike{
	margin-left: 20px;
}
#home-rate form{
	display: inline-block;
	margin: 0px 5px;
}
#home-rate form #but-comenzar{
	width: 100px;
	color: white;
	border: 0px solid #fff;
	border-radius: 10px;
	background-color: #a10600;
	padding: 8px 10px;
	font-size: 1em;
	margin: 5px;
}
#but-comenzar:hover{
	background-color: green;
}
#audio-player {
	background: #C5E3E8 !important;
	margin: auto;
	padding: 10px;
	width: 600px;
	border-radius: 10px;
}
.video-home{
	background: #C5E3E8 !important;
	margin: auto;
	width: 600px;
	padding: 10px;
	border-radius: 10px;
}
.button-video-player{
	width: 200px;
	color: white;
	border: 0px solid #fff;
	border-radius: 10px;
	background-color: #a10600;
	padding: 8px 10px;
	font-size: 1em;
	margin: 5px;
}
.button-video-player-wid{
	width: 100px;
	color: white;
	margin: 5px;
	border: 0px solid #fff;
	border-radius: 10px;
	background-color: #a10600;
	padding: 8px 10px;
	font-size: 1em;
}
#video-controls1, #video-controls2{
	margin: auto;
}
#form-coments{
	margin: 40px;
}
.comments p{
	margin-left: 20px;
}
.comments{
	background-color: #C5E3E8;
	padding-right: 50px;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	margin-bottom: 5%;
}
.comments h3{
	margin: auto;
}
#input-comment{
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 12px;
	font-size: 16px;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 10px 0px;
}
#but-comment{
	display: flex;
	padding: 10px 20px;
	border: 0px solid #000;
	color: #fff;
	font-size: 1em;
	border-radius: 5px;
	background-color: #a10600;
}