#general-container{
	display: grid;
	justify-content: center;
  	align-items: center;
}
.jroar-home-element{
	padding-left: 20px;	
}
.jroar-home-element h4{
	padding-left: 20px;	
}

#audio-player {
	background: #C5E3E8 !important;
	margin: auto;
	width: 600px;
}
#video-player{
	background: #C5E3E8 !important;
	margin: auto;
	width: 600px;
}