#general-container{
	display: grid;
	justify-content: center;
  	align-items: center;
}
.jroar-home-element{
	padding-left: 20px;	
}
.jroar-home-element h4{
	padding-left: 20px;	
}

#audio-player {
	background: #C5E3E8 !important;
	margin: auto;
	width: 600px;
}
#video-player{
	background: #C5E3E8 !important;
	margin: auto;
	width: 600px;
}

.comments{
	background-color: #C5E3E8;
	padding-right: 50px;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	margin-bottom: 5%;
}

.input-comment{
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 12px;
	font-size: 16px;
	border: 1px solid #000;
	border-radius: 5px;
}
#but-comment{
	display: flex;
	padding: 10px 20px;
	border: 0px solid #000;
	color: #fff;
	font-size: 1em;
	border-radius: 5px;
	background-color: #a10600;
}