/*----------General----------*/
@font-face{
	font-family: Montserrat-Regular;
	src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

*{
	font-family: Montserrat-Regular;
	font-weight: normal;
	color: black;
	size: 12px;
}
h1{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600;
	size: 3em;
}
h2{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600 ;
}
h3{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black ;
}
h4{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black ;
}
h5{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600 ;
}
h6{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black ;
}
p{
	font-family: Montserrat-Regular;
	font-weight: normal;
	color: black;
	size: 12px;
}
label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}
body{
	margin: auto;
}
/*----------Header----------*/
header nav {
	background-color: #C5E3E8;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}
header #img-logo-header{
	width: 50px;
}
header #header-nav{
	display: inline-block;
	margin-left: auto;
}

header #header-nav{
	list-style: none;
}
header #header-nav li{
	margin: 0px 10px;
	display: inline;
}
header #header-nav li a{
	text-decoration: none;
}
header #header-nav li a:hover{
	text-decoration: underline;
	font-weight: bold;
}
/*----------Body----------*/


/*----------Footer----------*/
footer {
	padding: 10px 50px;
}
footer #footer-container{
	margin: 0px 20%;
}
footer #footer-logo {
	margin-top: 10px;
	display: inline-block;
}
footer #footer-logo img {
	width: 150px;
}
footer #footer-nav{
	float: right;
}
footer #footer-nav ul{
	display:inline-flex;
	list-style: none;
	padding: 0px;
}
footer #footer-nav li{
	margin: 10px;
}
footer #footer-nav a{
	text-decoration: none;
}
footer #footer-nav a:hover{
	text-decoration: underline;
	font-weight: bold;
}
footer .footer-icon{
	font-size: 25px;
}
footer .footer-icon:hover{
	font-size: 35px;
}