<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>JRoar | Home Page</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="./assets/img/logo16.png" sizes="16x16">
	<link rel="icon" href="./assets/img/logo32.png" sizes="32x32">
	<link rel="icon" href="./assets/img/logo48.png" sizes="48x48">

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/home.css">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

	<script src="https://kit.fontawesome.com/65f7dd0165.js" crossorigin="anonymous"></script>
	<script src="/assets/js/home.js"></script>
    </head>
<body>

<header>
	<nav>
		<a href="/home">
			<img id="img-logo-header" src="./assets/img/logo-negro.png"/>
		</a>
		<ul id="header-nav">
			<li>
				<a href="/">Home</a>
			</li>
			{{#logged}}
				<li>
					<a href="/control">Panel de control</a>
				</li>
				<li class="nav-item">
					<a href="/profile">@{{user.firstName}}</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			{{/logged}}
			{{^logged}}
				<li class="nav-item">
					<a href="/login">Login</a>
				</li>
				<li class="nav-item">
					<a href="/register">Registro</a>
				</li>
			{{/logged}}
		</ul>
	</nav>
</header>

	<div id="general-container">


		{{#sources}}
			<div class="jroar-home-element">
				<h1>Reproduciendo en {{URL}}</h1>
				<h2>{{name}} -> <a href="{{URL}}{{m3u}}">{{mountpoint}}</a></h2>
			    <h4>{{listeners}} listeners</h4>
			    <h4>{{listeners}} connections</h4>
			    <div id="home-rate">
				    <h4>Likes: {{likes}}</h4>
				    <h4>Dislikes: {{dislikes}}</h4>
				    {{#canRate}}
				    	<label>Registra tu votación:</label>
					    <form action="/rate">
					    	<input type="submit" id="but-comenzar" value="Like">
					    	<input type="hidden" value="like" name="isLike">
					    	<input type="hidden" value="{{mountpoint}}" name="name">
					    </form>
					     <form action="/rate">
					    	<input type="submit" id="but-comenzar" value="DisLike">
					    	<input type="hidden" value="dislike" name="isLike">
					    	<input type="hidden" value="{{mountpoint}}" name="name">
					    </form>
					    <br>
				    {{/canRate}}
			    </div>
					{{#hasProxy}}
					<h4>Proxies:</h4>
					{{#proxyList}}
						<li>{{strProxy}}</li>
					{{/proxyList}}
				{{/hasProxy}}
    		</div>
		    	{{#isVideo}}
					<video id="video{{mountpoint}}" class="video-home" src="{{URL}}{{mountpoint}}" type="video/ogg"
						   muted="false" controls="true">
					</video>
			        <div id="video-controls1">
			        	<button class="button-video-player" onclick="playPause('video{{mountpoint}}')">Reproducir/Pausar</button>
			        </div>
			        <div id="video-controls2">
			        	<label>Tamaño de ventana:</label>
				        <button class="button-video-player-wid" onclick="makeSmall('video{{mountpoint}}')">Pequeño</button>
				        <button class="button-video-player-wid" onclick="makeNormal('video{{mountpoint}}')">Normal</button>
				        <button class="button-video-player-wid" onclick="makeBig('video{{mountpoint}}')">Grande</button>
					</div>
				{{/isVideo}}
				{{^isVideo}}
					<audio id="audio-player" src="{{URL}}{{mountpoint}}" type="audio/ogg"
						autoplay="false" muted="false" controls="true">
						<p>Tu navegador no soporta esta caracteristica</p>
					</audio>
			{{/isVideo}}
			<div id="jroar-comments-group">
				<h2>Comentarios</h2>
				<div class="comments">
				{{#hasComments}}
					{{#comments}}
						<h3>usuario: {{userName}}</h3>
						<p>{{comment}}</p>
					{{/comments}}
				{{/hasComments}}
				{{^hasComments}}
						<p>No hay comentarios actualmente.</p>
					{{/hasComments}}
				{{#canRate}}
					<form action="/comment" id="form-coments" method="post">
						<label>Publica un nuevo comentario:</label>
						<input type="text" id="input-comment" name="text" placeholder="Escribe tu comentario aquí">
						<input type="hidden" value="{{mountpoint}}" name="mountPoint">
						<input type="submit" id="but-comment" value="Comentar">	    	
					</form>
				{{/canRate}}
				</div>
			</div>
		{{/sources}}
</div>
<footer>
	<hr>
	
	<div id="footer-container">
		<div id="footer-logo">
			<img src="/assets/img/logo-negro.png"/>
			<p>Versión del sistema {{jVersion}}</p>
		</div>
		
		<div id="footer-stats">
			<p>
				<b>{{visitasHoy}}</b> visitas hoy - <b>{{visitasTotales}}</b> visitas totales
			</p>
		</div>

		<div id="footer-nav">
			<p class="text-nav">
				<a href="/stats">Ver estadísticas</a>
			</p>
			{{#logged}}
				<p class="text-nav">
					<a href="/control">Panel de control</a>
				</p>
			{{/logged}}
			{{^logged}}
				<p class="text-nav">
					<a href="/login">Login</a>
				</p>
				<p class="text-nav">
					<a href="/register">Registro</a>
				</p>
			{{/logged}}

			<ul>
				<li>
					<a href="#">
						<i class="fab fa-twitter footer-icon"></i>
					</a>
				</li>
				<li>
					<a href="https://github.com/Sw-Evolution/20E02">
						<i class="fab fa-github footer-icon"></i>
					</a>
				</li>
			</ul>

		</div>
	</div>
</footer>

</body>
</html>