<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>JRoar | Home Page</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="./assets/img/logo16.png" sizes="16x16">
	<link rel="icon" href="./assets/img/logo32.png" sizes="32x32">
	<link rel="icon" href="./assets/img/logo48.png" sizes="48x48">
	
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/home.css">
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  
	<script src="https://kit.fontawesome.com/65f7dd0165.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
	<nav>
		<a href="/home">
			<img id="img-logo-header" src="./assets/img/logo-negro.png"/>
		</a>
		<ul id="header-nav">
			<li>
				<a href="/">Home</a>
			</li>
			{{#logged}}
				<li>
					<a href="/control">Panel de control</a>
				</li>
				<li class="nav-item">
					<a href="#">@{{user.firstName}}</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			{{/logged}}
			{{^logged}}
				<li class="nav-item">
					<a href="/login">Login</a>
				</li>
				<li class="nav-item">
					<a href="/register">Registro</a>
				</li>
			{{/logged}}
		</ul>
	</nav>
</header>

	<div id="general-container">
		
		
		{{#sources}}
			<div class="jroar-home-element">
				<h1>Reproduciendo en {{URL}}</h1>
				<h2>{{name}} -> <a href="{{URL}}{{m3u}}">{{mountpoint}}</a></h2>
			    <h4>{{listeners}} listeners</h4>
			    <h4>{{listeners}} connections</h4>
			    <h4>Likes: {{likes}}</h4>
			    <h4>Dislikes: {{dislikes}}</h4>
			    {{#canRate}}
			    <form action="/rate">
			    	<input type="submit" id="but-comenzar" value="Like">
			    	<input type="hidden" value="like" name="isLike">
			    	<input type="hidden" value="{{mountpoint}}" name="name">
			    </form>
			     <form action="/rate">
			    	<input type="submit" id="but-comenzar" value="DisLike">
			    	<input type="hidden" value="dislike" name="isLike">
			    	<input type="hidden" value="{{mountpoint}}" name="name">
			    </form>
			    <br>
			    {{/canRate}}
				{{#hasProxy}}
				<h4>Proxies:</h4>
				{{#proxyList}}
					<li>{{strProxy}}</li>
				{{/proxyList}}
				{{/hasProxy}}
    		</div>
    	{{#isVideo}}
		<video id="video-player" src="{{URL}}{{mountpoint}}" type="video/ogg"
			   autoplay="false" muted="false" controls="true">
		</video>
		{{/isVideo}}
		{{^isVideo}}
		<audio id="audio-player" src="{{URL}}{{mountpoint}}" type="audio/ogg" 
			autoplay="false" muted="false" controls="true">
			<p>Tu navegador no soporta esta caracteristica</p>
		</audio>
		{{/isVideo}}
		{{/sources}}
		
		<p>Versión del sistema {{jVersion}}</p>
	</div>


<footer>
	<hr>
	<div id="footer-container">
		<div id="footer-logo">
			<img src="/assets/img/logo-negro.png"/>
		</div>
		
		<div id="footer-nav">
			<p class="text-center">
				<a href="emitir.html">Emite en JRoar</a>
			</p>
			{{#logged}}
				<p class="text-center">
					<a href="/control">Panel de control</a>
				</p>
			{{/logged}}
			{{^logged}}
				<p class="text-center">
					<a href="/login">Login</a>
				</p>
				<p class="text-center">
					<a href="/register">Registro</a>
				</p>
			{{/logged}}

			<ul>
				<li>
					<a href="#">
						<i class="fab fa-twitter footer-icon"></i>
					</a>
				</li>
				<li>
					<a href="https://github.com/Sw-Evolution/20E02">
						<i class="fab fa-github footer-icon"></i>
					</a>
				</li>
			</ul>
		
		</div>
	</div>
</footer>

</body>
</html>