<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>JRoar | Home Page</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="./assets/img/logo16.png" sizes="16x16">
	<link rel="icon" href="./assets/img/logo32.png" sizes="32x32">
	<link rel="icon" href="./assets/img/logo48.png" sizes="48x48">
	
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/login-register.css">
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  
	<script src="https://kit.fontawesome.com/65f7dd0165.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
	<nav>
		<a href="/home">
			<img id="img-logo-header" src="./assets/img/logo-negro.png"/>
		</a>
		<ul id="header-nav">
			<li>
				<a href="/home">Home</a>
			</li>
			<li>
				<a href="/emitir.html">Emitir</a>
			</li>
			<li>
				<a href="/control">Panel de control</a>
			</li>
			<li>
				<a href="/login.html">Iniciar sesión</a>
			</li>
			<li>
				<a href="/register.html">Registro</a>
			</li>
		</ul>
	</nav>
</header>



	<div id="general-container">
	
		<img id="img-login" src="./assets/img/logo-negro.png"/>
		
		<form  action="/register" method="post">	
			<h1>Registro</h1>
			<label>Email</label>
			<input type="text" class="input-login" name="email"/>
			{{#emailExist}}
			<p>El email indicado ya está registrado en JRoar, porfavor introduzca otro email o inicie sesión</p>
			{{/emailExist}}
			<br>
			<label>Nombre</label>
			<input type="text" class="input-login" name="firstName"/>
			<br>
			<label>Contraseña</label>
			<input type="text" class="input-login" name="lastName"/>
			<br>
			<label>Contraseña</label>
			<input type="text" class="input-login" name="password"/>
			
			<input type="submit" id="but-login" value="Registrarse">
		</form>
	</div>




</body>
</html>